<div class="header anon row" id="main-nav">
  <nav class='navbar navbar-default'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <ul class='nav navbar-nav'>
            <li><a href="#"><%= image_tag 'logo.png' %></a></li>
          </ul>
          <ul class='nav navbar-nav lower navbar-right'>
            <li>
              <a ng-click="chooseRole()">Get Started</a>
            </li>
            <li>
              <a ng-click="LogInModal()">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
