<div class="header row" id="main-nav">
  <nav class='navbar navbar-default'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='navbar-header'>
            <ul class='nav navbar-nav'>
              <li ng-class="{activeLocation: locationHolder == 'home'}">
              <a href='#'>Home</a>
              </li>
              <li  ng-class="{activeLocation: locationHolder == 'currentStates'}">
              <a class='data-toggle' data-toggle='dropdown'>Current State</a>
              <ul class='dropdown-menu'>
                <li>
                <a href='#/assessments'>Readiness Assessment</a>

                </li>
              </ul>
              </li>
              <li class='disabled'>
              <a href='#'>Future State</a>
              </li>
              <li class='disabled'>
              <a href='#'>Planning</a>
              </li>
              <li class='disabled'>
              <a href='#'>Procurement</a>
              </li>
              <li class='disabled'>
              <a href='#'>Implementation</a>
              </li>
              <li class='disabled'>
              <a href='#'>Rollout</a>
              </li>
            </ul>
          </div>
          <ul class='nav navbar-nav navbar-right'>
            <li>
              <a class='data-toggle' data-toggle='dropdown'>
                <i class='fa fa-caret-down'></i>
                {{user.full_name}}
              </a>

              <ul class='dropdown-menu'>
                <li>
                <a href='#/settings'>
                  <i class='fa fa-gears'></i>
                  Settings
                </a>
                </li>
                <li>
                <a href='#/logout'>
                  <i class='fa fa-sign-out'></i>
                  Sign Out
                </a>
                </li>
              </ul>
            </li>
            <li>
              <img alt="{{user.name}}" class="img-polaroid" height="40" ng-src="{{user.avatar}}">
            </li>
            <li>
            <a class='home' href='#/'>
              <%= image_tag 'logo.png' %>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
