.start-assessment
  margin-top: 1em
  .fa-plus
    margin-left: -.5em
    background-color: #148da1
    text-align: center
    color: #f7f9fa
    font-size: 2em
    padding: .59em .7em

  .heading
    box-shadow: 0 .2em 0 #d4d2c8
    background-color: #f7f9fa
    &:hover
      background-color: #e5f1f5
    h1
      margin: 0
      line-height: 1.7em
      font-weight: bold
      font-size: 2.5em

