#response-sidebar
  height: 100%
  position: absolute
  top: 0px
  box-shadow: 0px 0px 10px #A09f98
  background-color: white
  padding: 0px
  .affix
    top: 0
  .punchcard
    max-width: 100%
    background-color: whitesmoke
    border-top: 2px solid #d3d3cb
    border-bottom: 2px solid #d3d3cb
    .card
      padding: 0px 11px 20px
      .fa-stack
        margin: 2px
      .fa-circle
        color: $unscored
        font-size: 2.1em
        &.scored-1
          color: $scored1
        &.scored-2
          color: $scored2
        &.scored-3
          color: $scored3
        &.scored-4
          color: $scored4
        &.scored-skipped
          color: $skipped
      .fa-text
        font-family: "Yanone Kaffeesatz", sans-serif, Helvetica, Arial
        font-weight: bold
        font-size: 18px
    .btn
      border-radius: 0px
      margin: 0px
  .padded
    padding-top: 15px
  .sidebar-title
    margin-top: 20px
    font-size: 20px
    font-weight: bold
    color: #4b616f
    .score-count
      color: #4b616f
      font-weight: lighter
  // .sidebar-question{
  //  font-style:italic;  
  //  font-family: "Droid Serif";
  //  font-size:10px;
  //  color: #999999;
  // }
  .sidebar-answer
    color: #4b616f
    font-size: 14px
    font-weight: lighter
    margin-bottom: 15px
    ol,ul
      padding: 0px 20px
      li
        font-size: 14px
        font-weight: lighter

#inline-punchcard
  .sidebar-title
    margin-top: 20px
    font-size: 20px
    font-weight: bold
    color: #4b616f
  .punchcard
    max-width: 100%
    background-color: whitesmoke
    border-top: 2px solid #d3d3cb
    border-bottom: 2px solid #d3d3cb
    .card
      padding: 0px 11px 20px
      .fa-stack
        margin: 2px
      .fa-circle
        color: $unscored
        font-size: 2.1em
        &.scored-1
          color: $scored1
        &.scored-2
          color: $scored2
        &.scored-3
          color: $scored3
        &.scored-4
          color: $scored4
        &.scored-skipped
          color: $skipped
      .fa-text
        font-family: "Yanone Kaffeesatz", sans-serif, Helvetica, Arial
        font-weight: bold
        font-size: 18px
    .btn
      border-radius: 0px
      margin: 0px

.headline
  margin-top: 2.6em
  margin-bottom:  0em !important
  font-weight:  600
  font-size:  2em
  color:  #2d3739

.instructions-header
  color: #4b616f
  font-size: 1.6em
  font-weight: bold
  margin-bottom: 0em

.instructions-content
  color: #4b616f
  font-size: 1em
  font-weight: lighter
  margin-bottom: 1em

.category-label
  font-size: 1.1em
  font-weight: bold
  letter-spacing: 0.05em
  color: #9f1c2c
  border-top: 0.1em solid #d3d3cb
  padding-top: 0.1em
  &:hover
    cursor: pointer
  &:first-child
    margin-top: 1em
  i
    color: #9f1c2c
    font-size: 0.8em

.sort-row
  margin: 0.8em 0em 0.3em
  color: #333
  h4
    font-size: 1.6em
    margin-top: 0.3em
    margin-bottom: 0.2em
    margin-right: 1em
  .btn-group
    margin: 0.4em 0em

.question-row
  &:hover
    cursor: pointer
  border-bottom: 0.1em solid #e2e1dc
  .question-id
    min-width: 2em !important
    width: 2em !important
    height: 2em
    background-color: $unscored
    color: white
    text-align: center
    vertical-align: middle !important
    font-size: 2.5em
    &.scored-1
      background-color: $scored1
    &.scored-2
      background-color: $scored2
    &.scored-3
      background-color: $scored3
    &.scored-4
      background-color: $scored4
    &.scored-skipped
      background-color: $skipped
  .question-content
    border-top: 0em
    background-color: #f8f9fb
    .question
      font-size: 1.3em
      margin-bottom: 0em
      font-weight: bold
    .content
      font-size: 1.3em
      margin-bottom: 0em
    &:hover
      box-shadow: 0em 0.2em 0em #d4d2c8



.table-form
  .scores-row
    .score-value
      &:hover
        cursor: pointer
      td
        vertical-align: middle !important
        &:first-child
          width: 2%
          color: white
          font-size: 1.2em
        &:nth-child(2)
          width: 22%
          font-size: 1.2em
        &:nth-child(3)
          font-size: 1em
      &.selected
        td
          color: white !important
    .score-evidence
      &.selected
        display: table-row
      td
        border-top: 0em !important
      textarea
        width: 100%
      .evidence-read
        div,p,i
          color: white
        min-height: 3.5em
        vertical-align: middle
        position: relative
        text-align: center
        .evidence
          text-align: left
        .edit-button
          display: none
          position: relative
          bottom: 0.75em
        &:hover
          cursor: pointer
          background: rgba(54, 25, 25, 0.5)
          .edit-button
            display: inline-block
      .evidence-write
        i
          color: white
        .save-holder
          text-align: center
    .valueColor-1
      background-color: $scored1bg
      color: #333
      &:hover
        td:first-child,td:nth-child(2)
          background-color: $scored1
          color: white
      td:first-child,&.selected
        background-color: $scored1
        color: white
    .valueColor-2
      background-color: $scored2bg
      color: #333
      &:hover
        td:first-child,td:nth-child(2)
          background-color: $scored2
          color: white
      td:first-child,&.selected
        background-color: $scored2
        color: white
    .valueColor-3
      background-color: $scored3bg
      color: #333
      &:hover
        td:first-child,td:nth-child(2)
          background-color: $scored3
          color: white
      td:first-child,&.selected
        background-color: $scored3
        color: white
    .valueColor-4
      background-color: $scored4bg
      color: #333
      &:hover
        td:first-child,td:nth-child(2)
          background-color: $scored4
          color: white
      td:first-child,&.selected
        background-color: $scored4
        color: white
    .valueColor-skipped
      background-color: $skippedbg
      color: #333
      &:hover
        td:first-child,td:nth-child(2)
          background-color: $skipped
          color: white
      td:first-child,&.selected
        background-color: $skipped
        color: white

.table-comparison
  // print changes
  &.print
    div.evidence-list
      max-height: none !important
      overflow-y: auto !important
    .score-value
      td
        vertical-align: middle !important
        &:nth-child(1),&:nth-child(2),&:nth-child(3)
          color: white
          padding-left: 0em
          background-color: white
          border-top: 0.1em solid transparent
  .scores-row
    .score-value
      td
        vertical-align: middle !important
        &:nth-child(1),&:nth-child(2),&:nth-child(3)
          color: #f2f1ef
          padding-left: 0em
          background-color: #f2f1ef
          border-top: 0.1em solid transparent
        &:nth-child(4)
          width: 2%
          color: white
          font-size: 1.2em
        &:nth-child(5)
          width: 22%
          font-size: 1.3em
        &:nth-child(6)
          font-size: 1em
          font-weight: lighter
    .valueColor-1
      background-color: $scored1bg
      color: #333
      td:nth-child(2).selected,td:nth-child(3).selected
        color: $scored1
      td:nth-child(4),&.selected
        background-color: $scored1
        color: white
    .valueColor-2
      background-color: $scored2bg
      color: #333
      td:nth-child(2).selected,td:nth-child(3).selected
        color: $scored2
      td:nth-child(4),&.selected
        background-color: $scored2
        color: white
    .valueColor-3
      background-color: $scored3bg
      color: #333
      td:nth-child(2).selected,td:nth-child(3).selected
        color: $scored3
      td:nth-child(4),&.selected
        background-color: $scored3
        color: white
    .valueColor-4
      background-color: $scored4bg
      color: #333
      td:nth-child(2).selected,td:nth-child(3).selected
        color: $scored4
      td:nth-child(4),&.selected
        background-color: $scored4
        color: white
    .valueColor-skipped
      background-color: $skippedbg
      color: #333
      td:nth-child(2).selected,td:nth-child(3).selected
        color: $skipped
      td:nth-child(4),&.selected
        background-color: $skipped
        color: white
  .evidence-row
    thead
      th
        background-color: #f5f6f8
        font-size: 24px
    .evidence-value
      background-color: white
      td
        border: 0px
        vertical-align: middle
        &:first-child
          text-align: center
          min-width: 90px !important
          width: 90px !important
          color: #8c8c8a
          padding-left: 0px
          border-top: 1px solid transparent
        &:nth-child(2)
          padding: 0px
          margin: 0px
          div.evidence-list
            margin-top: -2px
            padding-right: 60px
            max-height: 300px
            overflow-y: scroll
            .table-evidence
              border: 2px solid #e9e8e3
              tr:first-child
                td:first-child
                  padding: 0px
                  margin: 0px
                  text-align: center
                  min-width: 37px !important
                  width: 37px !important
                  color: white
                  font-size: 18px
                td:last-child
                  padding: 10px
                  font-size: 14px
                  font-weight: lighter
              tr:last-child
                td:first-child
                  padding: 0px
                  margin: 0px
                  text-align: center
                  min-width: 37px !important
                  width: 37px !important
                  color: white
                  font-size: 18px
                td:last-child
                  padding-left: 10px
                  font-size: 10px
                  font-weight: lighter
                  font-family: "Droid Serif"
                  font-style: italic
                  color: #9a9a98
    .valueColor-1
      td:first-child
        background-color: $scored1
        color: #f6f3ec
    .valueColor-2
      td:first-child
        background-color: $scored2
        color: #f6f3ec
    .valueColor-3
      td:first-child
        background-color: $scored3
        color: #f6f3ec
    .valueColor-4
      td:first-child
        background-color: $scored4
        color: #f6f3ec
    .valueColor-skipped
      td:first-child
        background-color: $skipped
        color: #f6f3ec

.table-consensus
  .scores-row
    td:first-child
      padding: 0em
      table
        margin-bottom: 0em
        .score-value
          td

            vertical-align: middle !important
            &:first-child
              text-align: center
              min-width: 5em !important
              width: 5em !important
              color: #8c8c8a
              padding-left: 0em
              background-color: #f2f1ef
              border-top: 0.1em solid transparent
              .score_count
                font-size: 1.4em
              .response_count
                font-size: 1em
              .label
                font-size: 1.3em
            &:nth-child(2)
              width: 2%
              color: white
              font-size: 1.2em
            &:nth-child(3)
              width: 22%
              font-size: 1.2em
            &:nth-child(4)
              font-size: 1em
              font-weight: lighter
        .valueColor-1
          background-color: $scored1bg
          color: #333
          td:first-child
            .label.label-mode
              background-color: $scored1
              span,i
                color: #f6f3ec !important
          td:nth-child(2),&.selected
            background-color: $scored1
            td
              color: #f6f3ec !important
        .valueColor-2
          background-color: $scored2bg
          color: #333
          td:first-child
            .label.label-mode
              background-color: $scored2
              span,i
                color: #f6f3ec !important
          td:nth-child(2),&.selected
            background-color: $scored2
            td
              color: #f6f3ec !important
        .valueColor-3
          background-color: $scored3bg
          color: #333
          td:first-child
            .label.label-mode
              background-color: $scored3
              span,i
                color: #f6f3ec !important
          td:nth-child(2),&.selected
            background-color: $scored3
            td
              color: #f6f3ec !important
        .valueColor-4
          background-color: $scored4bg
          color: #333
          td:first-child
            .label.label-mode
              background-color: $scored4
              span,i
                color: #f6f3ec !important
          td:nth-child(2),&.selected
            background-color: $scored4
            td
              color: #f6f3ec !important
        .valueColor-skipped
          background-color: $skippedbg
          color: #333
          td:first-child
            .label.label-mode
              background-color: $skipped
              span,i
                color: #f6f3ec !important
          td:nth-child(2),&.selected
            background-color: $skipped
            td
              color: #f6f3ec !important
  .evidence-row
    td:first-child
      padding: 0em
      table
        margin-bottom: 0em
        thead
          th
            background-color: #f5f6f8
            font-size: 1.4em
        .evidence-value
          background-color: white
          td
            border: 0em
            vertical-align: middle
            &:first-child
              text-align: center
              min-width: 2em !important
              width: 5em !important
              color: #8c8c8a
              padding-left: 0em
              border-top: 0.1em solid transparent
            &:nth-child(2)
              padding: 0em
              margin: 0em
              div.evidence-list
                margin-top: 0em
                padding-right: 2em
                max-height: 6em
                overflow-y: scroll
                .table-evidence
                  &:last-child
                    margin-bottom: 0em
                  border: 0.1em solid #e9e8e3
                  tr:first-child
                    td:first-child
                      padding: 0em
                      margin: 0em
                      text-align: center
                      min-width: 2.2em !important
                      width: 2.2em !important
                      color: white
                      font-size: 1.2em
                    td:last-child
                      padding: 0.7em
                      font-size: 0.9em
                      font-weight: lighter
                  tr:last-child
                    td:first-child
                      padding: 0em
                      margin: 0em
                      text-align: center
                      min-width: 2.2em !important
                      width: 2.2em !important
                      color: white
                      font-size: 1.2em
                    td:last-child
                      padding-left: 0.7em
                      font-size: 0.7em
                      font-weight: lighter
                      font-family: "Droid Serif"
                      font-style: italic
                      color: #9a9a98
        .valueColor-1
          td:first-child
            background-color: $scored1
            color: #f6f3ec
        .valueColor-2
          td:first-child
            background-color: $scored2
            color: #f6f3ec
        .valueColor-3
          td:first-child
            background-color: $scored3
            color: #f6f3ec
        .valueColor-4
          td:first-child
            background-color: $scored4
            color: #f6f3ec
        .valueColor-skipped
          td:first-child
            background-color: $skipped
            color: #f6f3ec
  .consensus-row
    td:first-child
      padding: 0em
      table
        margin-bottom: 0em
        text-align: left
        thead
          th
            background-color: #f5f6f8
            font-size: 1.4em
            color: #2d3a40
        td
          border: 0em
          vertical-align: middle
          &:first-child
            min-width: 2em !important
            width: 5em !important
            color: #8c8c8a
            padding-left: 0em
            border-top: 0.1em solid transparent
          &:nth-child(2)
            padding: 0em
            margin: 0em
            div.consensus-scoring
              margin: 0.7em 0em
              padding-right: 3em
              .consensus-header
                font-size: 1.3em
              textarea
                width: 100%
          .evidence-read
            div,p
              color: inherit
              font-size: 1em
            min-height: 5em
            vertical-align: middle
            position: relative
            .edit-button
              position: absolute
              vertical-align: middle
              display: none
              text-align: center
              width: 100%
              top: 1em
            &:hover
              cursor: pointer
              background: rgba(54, 25, 25, 0.5)
              .edit-button
                display: inline-block
        .btn
          font-size: 1em
          color: #f6f3ec
          &.btn-value-1
            background-color: $scored1
          &.btn-value-2
            background-color: $scored2
          &.btn-value-3
            background-color: $scored3
          &.btn-value-4
            background-color: $scored4

.confirm-greeting
  font-weight: bold
  font-size: 34px

.confirm-header
  font-weight: bold
  font-size: 24px

.confirm-content
  font-size: 20px
  font-weight: 300
  margin-bottom: 20px

.confirm-date
  font-weight: bold
  font-size: 24px