<div class="categories">
  <ng-include
    ng-show="isConsensus"
    src="'client/views/shared/responses/sort_by.html'" >
  </ng-include>
  
  <div class="category" ng-repeat="category in categories">

    <p class="category-label" ng-click="toggleCategoryAnswers(category)">
      <i class="fa fa-chevron-right" ng-class="{'fa-chevron-down' : category.toggled == true}"></i>
      {{category.name}}
    </p>

    <table class='table table-question table-consensus question-{{question.id}}' ng-repeat="question in category.questions">
      <tbody>
        
        <tr class='question-row' ng-click="toggleAnswers(question)">
          <td id='question-{{question.id}}' class="question-id scored-{{question.score.value}}">{{question.number}}</td>
          <td class='question-content' colspan='3'>
            <p class='question'>{{question.headline}}:</p>
            <p class='content'>{{question.content}}</p>
          </td>
        </tr>

        <tr class='scores-row' ng-show="question.answersVisible">
          <td colspan='2' style='padding:0px'>
            <table class='table' style='margin-bottom:0px'>
              <tbody>

                <tr ng-repeat="answer in question.answers" class='score-value valueColor-{{answer.value}}'>
                  <td><ng-include src="'client/views/shared/responses/score_count.html'"></ng-include></td>
                  <td>{{answer.value}}</td>
                  <td>{{answerTitle(answer.value)}}</td>
                  <td>{{answer.content}}</td>
                </tr>
                
                <tr class='score-value valueColor-skipped'>
                  <td><ng-include src="'client/views/shared/responses/skip_count.html'"></ng-include></td>
                  <td>S</td>
                  <td>Skip Question</td>
                  <td>If you're unsure of the correct response to this question, choose this option to skip it and move on. You can still leave a comment if you choose to skip the question.</td>
                </tr>

              </tbody>

            </table>
          </td>
        </tr>

        <tr class='evidence-row' ng-show="question.answersVisible">
          <td colspan='2' style='padding:0px'>
            <table class='table' style='margin-bottom:0px'>
              <thead>
                <tr><th colspan='4'>Evidence Discussion</th></tr>
              </thead>
              <tbody>
                <tr class='evidence-value'>
                  <td>&nbsp;</td>
                  <td>
                    <div class='evidence-list box-scroll'>
                      <table class='table table-evidence valueColor-{{score.value}}' ng-repeat="score in scores| filter: {question_id: question.id}">
                        <tbody>
                          <tr>
                            <td>{{score.value}}</td>
                            <td ng-bind-html="score.evidence"></td>
                          </tr>
                          <tr>
                            <td><avatar data-width="100%" data-avatar="{{score.participant.avatar}}"/></td>
                            <td>by: <a href="">{{score.participant.full_name}}</a> on: {{score.participant.updated_at | amDateFormat:'MMMM Do, YYYY'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

      </tbody>
    </table>
    
  </div>
</div>