<div>
  <h3 class="heading">Sign in to PD Redesign</h3>
  <div ng-show="errors" id="ajax_message" class="alert alert-dismissable alert-danger" style="display: block;">
    <div ng-repeat="error in errors">
      <div class="error">
        {{error}}
      </div>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  </div>


  <div class"row">
    <div class="input col-md-12">
      <input autofocus 
             id="email"
             class="form-control" 
             type="text" 
             placeholder="Email Address"
             ng-model="email"/>
    </div>
  </div>
  <div class"row">
    <div class="input col-md-9">
      <input class="form-control" 
             id="password"
             type="password" 
             placeholder="Password"
             ng-model="password"/>
    </div>
    <div class="input col-md-3">
      <input class="btn btn-devise btn-info btn-block" 
             id="authenticate"
             name="commit" 
             type="submit" 
             value="Sign In"
             ng-click="authenticate(email, password)"/>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Remember Me &nbsp; • &nbsp; <a href="/users/password/new">Forgot Password?</a>
    </label>
  </div>

  
</div>

