<div class="footer">
  <div class="row first">
    <div class="container">
      <div class="row">
        <div id="social" class="pull-right">
          <span>Stay Connected</span>
            <a href="https://twitter.com/pdredesign" target="_blank"><i class="fa fa-twitter-square fa-inverse"></i></a>
            <a href="https://www.facebook.com/pdredesign" target="_blank"><i class="fa fa-facebook-square fa-inverse"></i></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 pull-left logo">
          <%= image_tag "gates.png" %>
        </div>
      </div>

    </div>
  </div>

  <div class="row second">
    <div class="container">
      <div class="row">
        <div class="col-md-10 pull-right copy">
          &copy; 1999 – 2014 Bill & Melinda Gates Foundation. All Rights Reserved.
          <span>
            <a href="#/privacy">Privacy Policy</a> |
            <a href="#/terms-of-use">Terms of use</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
