<div class="row secondary top user-header">
  <div class="container">
    <div class="col-md-9 body">
      <h1>Hi {{user.first_name}}</h1>
      <p>This is your Readiness Assessment dashboard. Create a new assessment or check the status of an existing one to proceed.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div ng-show="isNetworkPartner()">
        <div class="col-md-4">
          <ng-include src="'client/views/assessments/district-filter.html'" scope="this"></ng-include>
        </div>
        <div class="col-md-4">
          <ng-include src="'client/views/assessments/permission-filter.html'" scope="this"></ng-include>
        </div>
        <div class="col-md-4">
          <ng-include src="'client/views/assessments/status-filter.html'" scope="this"></ng-include>
        </div>
      </div>
      <start-assessment></start-assessment>
      <ng-include src="'client/views/assessments/assessment-list.html'" scope="this"></ng-include>
    </div>
  </div>
</div>
