<div class="row-secondary top user-header">
  <div class="container">
    <div class='row'>

      <div class="col-md-9">
        <h1>Hi {{user.first_name}}</h1>
        <p>This is your Readiness Assessment dashboard. Create a new assessment or check the status of an existing one to proceed.</p>
      </div>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ng-include src="'client/views/assessments/district-filter.html'" scope="this"></ng-include>
      <start-assessment></start-assessment>
      <ng-include src="'client/views/assessments/assessment-list.html'" scope="this"></ng-include>
    </div>
  </div>
</div>
