<div class="row secondary user-header">
  <div class="col-md-12">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>
</div>

<div id="faq" class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="filter-holder">
        <label>Filter by:</label>
        <div class="">
          <span class="sort-active"><i class="fa fa-sort-asc"></i></span>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="selected-tools" class="control-label">Tool</label>
                <select class="form-control" id="selected-tools">
                  <option value="" selected>All Tools</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="selected-projects" class="control-label">Role</label>
                <select class="form-control" id="selected-roles">
                  <option value="" selected>All Roles</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="selected-projects" class="control-label">Status</label>
                <select class="form-control" id="selected-projects">
                  <option value="" selected>All Projects</option>
                </select>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div>
            <h4>The Readiness Assessment</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 ">
  <div>
    Filter by:
    <i class="fa fa-sort-desc"></i>
  </div>
</div>
