
<!-- <div class="home anon"> -->
  <!-- <div class="row-landing-header"> -->

<div id="landing">
  <div class='landing-image-back'>
    <div class="container">
      <div class="row landing-info-holder">
        <div class="col-md-12 text-center">
          <%= image_tag "landing-logo.png" %>
        </div>
        <div class="col-md-12 text-center">
          <p class="info">A digital toolkit and community of practice, improving</p>
          <p class="info">professional development for educators.</p>
        </div>
        <div class="col-md-12 text-center">
          <a ng-click="chooseRole()" class="btn btn-primary get-started-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 landing-content">
              <h3>What is PDredesign?</h3>
              <p>PDredesign is the place for meaningful collaboration to reimagine teacher professional development.</p>
              <p>Join our community of educators and designers committed to continuously improving professional development systems to better support teachers. Alongside leaders from classrooms, schools, charters, districts, and partner organizations across the country, we are building an open digital toolkit and community of practice to support districts to redesign systems that meet the needs of educators and students.</p>
              <p>Improving professional development for teachers will take all of us working together.</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="landing-button-holder text-center">
                <h3>Learn more about PDredesign</h3>
                <p><a  href="#/administrators" class="btn btn-primary btn-lg">For Administrators</a></p>
                <p><a href="#/educators" class="btn btn-primary btn-lg">For Educators</a></p>
                <p><a href="#/networks" class="btn btn-primary btn-lg">For Partners</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'client/views/shared/footers/landing_footer.html'"></ng-include>
</div>
