<div class="row score-evidence" ng-show="question.score.value == answer.value">
  <div class="col-md-8 col-md-offset-4">
    <div ng-hide="question.score.editMode">
      <textarea ng-model="question.score.evidence"></textarea>
      <div class="save-holder">
        <button
          ng-disabled="invalidEvidence(question)"
          class='btn btn-primary'
          ng-click="saveEvidence(question.score)">
          <i class='fa fa-save'></i>SAVE
        </button>
      </div>
    </div>
    <div ng-show="question.score.editMode">
      <div class="evidence-read">
        <div ng-bind-html="question.score.evidence"></div>
        <div class="edit-holder">

          <button class='btn btn-primary edit-button'
            ng-click="editAnswer(question.score)">
            <i class='fa fa-save'></i>Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
