<tr class='score-value valueColor-skipped' ng-class="{'selected' : skipped(question)}" ng-click="skipQuestion(question, question.score)">
  <td>S</td>
  <td>Skip This Question</td>
  <td>
    Test
  </td>
</tr>

<tr class='score-evidence valueColor-skipped' ng-show="skipped(question)}">
  <td colspan='2'>&nbsp;</td>
  <td style='color:#333'>

    <div ng-show="question.score.editMode" class='evidence-read'>
      <div ng-bind-html="question.score.evidence"></div>
      <div class="edit-holder">
        <button class='btn btn-primary edit-button'
          ng-click="editAnswer(question.score)">
          <i class='fa fa-edit'></i> Edit
        </button>
      </div>
    </div>

    <div ng-hide="question.score.editMode">
      <textarea ng-model="question.score.evidence"></textarea>
      <div class="save-holder">
        <button
          class='btn btn-primary'
          ng-click="skipQuestionSaveEvidence(question.score)">
          <i class='fa fa-save'></i> Save
        </button>
      </div>
    </div>

  </td>
</tr>