.footer
  margin-top: 3em
  *
    z-index: 2
  .row.first
    background-color: #2C373D
    color: #fff
    span
      font-size: 1em
      color: #fff
    #social
      padding: 1em
      font-size: 1.5em
      color: #fff
      a 
        margin-left: .5em
    .logo
      position: absolute
      margin-top: -6.6em

  .row.second
    line-height: 3.5em
    color: #fff
    background-color: #03232E
    .copy
      color: #fff
