.footer
  clear: both
  .first
    height: 4em
    background-color: #2C373D
    color: #fff
    span
      font-size: 1em
      color: #fff
    #social
      padding: 1em
      font-size: 1.25em
      color: #fff
      a
        margin-left: .5em
  .logo
    z-index: 10
    img
      max-width: 8em
      width: 100%
      position: absolute
      bottom: 0

  .second
    line-height: 3.5em
    color: #fff
    background-color: #03232E
  .copy
    text-align: center
    font-size: 1em
    color: #fff
    span
      font-size: 1em
      color: #fff
      margin-left: 0.5em
    a
      font-size: 1em
      color: #fff
    a:hover
      text-decoration: none
