.row.secondary
  background-color: #D5D2C9
  margin-top: 0
  .container
    padding-left: 0
.row.secondary.top
  margin-top: -1.45em
.container-fluid
  padding-right: 0 !important
  padding-left: 0 !important
.row
  margin-right: 0 !important
  margin-left: 0 !important
  h1
    font-size: 2.7em
    font-weight: bold
.row-header
  padding-bottom: 2em
main
  position: relative

html, body
  height: 100%
body
  position: relative
  bottom: 0
  .container-fluid
    min-height: 83.3%
    position: relative
  .sidebar, .home
    height: 100%
  .container
    height: 100%

.normal-cursor-hover
  cursor: pointer

.modal-header
  button.close
    font-size: 2em !important
