.col-md-3.right
  padding: 0

.sidebar
  box-shadow: 0px 0px 10px #A09f98
  background: #fff
  position: absolute
  top: 0
  bottom: 0
  right: -1%
  width: 20%
  z-index: 1
  padding: 1em
  padding-top: 3em

  h3.heading
    color: #62686d
    font-weight: normal !important
  .input
    padding: .3em

  .checkbox
    font-size: 1.25em
