.sidebar
  #response-sidebar
    height: 100%
    box-shadow: 0em 0em 0.625em #A09f98

    .submit
      border-radius: 0
    .affix
      top: 0
      width: 19em

    .punchcard
      max-width: 100%
      background-color: whitesmoke
      border-top: 0.125em solid #d3d3cb
      border-bottom: 0.125em solid #d3d3cb
      z-index: 2
      .type
        height: 4em
        background-color: #4D5E66
        p
          font-size: 1.8em
          color: white
          padding-left: 0.5em
          padding-top: 0.5em
      .card
        padding: 0em 0.6875em 1.25em
        .fa-stack
          margin: 0.125em
        .fa-circle
          color: $unscored
          font-size: 2.1em
        .fa-text
          font-family: "Yanone Kaffeesatz", sans-serif, Helvetica, Arial
          font-weight: bold
          font-size: 1.125em
        .fa
          &.scored-1
            color: $scored1
            background-color: transparent
          &.scored-2
            color: $scored2
            background-color: transparent
          &.scored-3
            color: $scored3
            background-color: transparent
          &.scored-4
            color: $scored4
            background-color: transparent


      .btn
        border-radius: 0em
        margin: 0em
    .padded
      padding-top: 0.9375em
    .sidebar-title
      margin-top: 1.25em
      font-size: 1.25em
      font-weight: bold
      color: #4b616f
      padding-left: 0.9375em

      .score-count
        color: #4b616f
        font-weight: lighter
