$header-background-color: #D5D2C9
$background-color-body: #E4E1DC
$background-color: #F2F1EF

$border-color: #B4B3AF
$font-color: #2d3a40
$link-color: #8c1430

$unscored:  #b3b3b3
$scored1:   #E38A24
$scored2:   #E4BB21
$scored3:   #98B04E
$scored4:   #3B5E3D
$skipped:   #3D8B8B

$font-family: 'Open Sans', sans-serif
$heading-font-family: 'Yanone Kaffeesatz', sans-serif, Helvetica, Arial
