$header-background-color: #D5D2C9
$background-color: #F2F1EF
$font-family: 'Yanone Kaffeesatz', sans-serif, Helvetica, Arial
$font-color: #2d3a40

$link-color: #8c1430

$unscored:  #b3b3b3
$scored1:   #E38A24
$scored2:   #E4BB21
$scored3:   #98B04E
$scored4:   #3B5E3D
$skipped:   #3D8B8B

$scored1bg: #faf9f7
$scored2bg: #efeeea
$scored3bg: #eae9e4
$scored4bg: #e0ddd6
$skippedbg: rgba(197, 193, 183, 0.73)
