.walk-through-container
  .right.carousel-control,
  .left.carousel-control,
  .carousel-indicators  
    display: none
  .controls
    float: right
    position: absolute
    right: 1em
    bottom: 1em

  .slide-image, .slide-content
    min-height: 30em

  .slide-content, .sidebar-content
    text-align: left

  .slide-content
    background-color: #F2F1EF

  .info
    margin: 2em

  .slide-image
    background-color: #4D5254
    img
      max-width: 100%
      padding: 2em


