<div class="sidebar">

  <div id="assessment_dashboard_consensus_sidebar" ng-controller="AssessmentDashboardSidebarCtrl">
    <div class='consensus'>
      <p ng-show="preDateTable()" class='header'>Consensus Meeting for</p>
      <p ng-show="postDateTable()" class='header'>Consensus Meeting was held</p>
      <p ng-show="noMeetingDate()" class='header'>Consensus Meeting not yet scheduled</p>
      <div class='outer'>
        <div class='inner'>
          <div ng-show="postDateTable()">
            <p class='date'>{{meetingDateDaysAgo()}}</p>
            <p class='month'>days ago</p>
          </div>

          <div ng-show="preDateTable()">
            <p class='day'>{{meetingDayName()}}</p>
            <p class='date'>{{meetingDayNumber()}}</p>
            <p class='month'>{{meetingMonthName()}}</p>
          </div>

          <div ng-show="noMeetingDate()">
            <p class='date'>?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <a
        ng-class="{ active: $state.includes('assessment_dashboard') }"
        href="#/assessments/{{assessment.id}}/dashboard">Dashboard
      </a>
      <span ng-show="noMeetingDate()">
        <a data-target="#modifySchedule" data-toggle="modal" href="">No Modify Schedule</a>
        <a data-target="#newReminder" data-toggle="modal" href="">Send Reminder</a>
      </span>

      <span ng-show="preMeetingDate()">
        <a data-target="#modifySchedule" data-toggle="modal" href="">Schedule Consensus Meeting</a>
        <a data-target="#createConsensus" data-toggle="modal" href="" >Create Consensus</a>
      </span>

      <span ng-show="postMeetingDate()">
        <a href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
        <a href="" class="">Recommendations</a>
        <a href="" class="">Send Followup Reminder</a>
        <a href="" class="">Create Followup Assessment</a>
      </span>

      <span ng-show="reportPresent()">
        <a href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
        <a href="" class="">Recommendations</a>
        <a
          ng-class="{ active: $state.includes('assessment_report') }"
          href="#/assessments/{{assessment.id}}/report">Report
        </a>
        <a href="" class="">Send Followup Reminder</a>
        <a href="" class="">Create Followup Assessment</a>
      </span>
    </div>
  </div>



  <div class="content">
    <ng-include src="'client/views/sidebar/why_pd_redesign.html'"></ng-include>
  </div>

  <ng-include src="'client/views/assessments/dashboard/consensus_modal.html'"></ng-include>
  <ng-include src="'client/views/assessments/dashboard/new_reminder_modal.html'"></ng-include>
  <ng-include src="'client/views/assessments/dashboard/modify_schedule_modal.html'"></ng-include>
</div>
