<div class="sidebar">

  <div id="assessment_dashboard_consensus_sidebar" ng-controller="AssessmentDashboardSidebarCtrl">

    <div class='consensus'>
      <p ng-show="meetingDateNotHeld()" class='header'>Consensus Meeting for</p>
      <p  ng-show="meetingDateHeld()" class='header'>Consensus Meeting was held</p>
      <p  ng-show="meetingDateNone()" class='header'>Consensus Meeting not yet scheduled</p>
      <div class='outer'>
        <div class='inner'>
          <div ng-hide="meetingDateNone()">
            <p class='day'>{{meetingDayName()}}</p>
            <p class='date'>{{meetingDayNumber()}}</p>
            <p class='month'>{{meetingMonthName()}}</p>
          </div>
          <div ng-show="meetingDateNone()">
            <p class='date'>?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <a
        ng-class="{ active: $state.includes('assessment_dashboard') }"
        href="#/assessments/{{assessment.id}}/dashboard">Dashboard
      </a>
      <a ng-show="showScheduleConsensusMeeting()" data-target="#modifySchedule" data-toggle="modal" href="">Schedule Consensus Meeting</a>
      <a ng-show="showConsensusCreateLink()" data-target="#createConsensus" data-toggle="modal" href="" >Create Consensus</a>
      <a ng-show="showConsensusViewLink()" href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
      <a
        ng-class="{ active: $state.includes('assessment_report') }"
        href="#/assessments/{{assessment.id}}/report"
        ng-show="showConsensusViewLink()">Report
      </a>
      <a ng-show="showConsensusViewLink()" href="" class="">Recommendations</a>
      <a ng-show="showConsensusViewLink()" href="" class="">Send Followup Reminder</a>
      <a ng-show="showConsensusViewLink()" href="" class="">Create Followup Assessment</a>

      <a ng-show="showModifyScheduleLink()" data-target="#modifySchedule" data-toggle="modal" href="">Modify Schedule</a>
      <a ng-show="showModifyScheduleLink()" data-target="#newReminder" data-toggle="modal" href="">Send Reminder</a>
    </div>
  </div>



  <div class="content">
    <ng-include src="'client/views/sidebar/why_pd_redesign.html'"></ng-include>
  </div>

  <ng-include src="'client/views/assessments/dashboard/consensus_modal.html'"></ng-include>
  <ng-include src="'client/views/assessments/dashboard/new_reminder_modal.html'"></ng-include>
  <ng-include src="'client/views/assessments/dashboard/modify_schedule_modal.html'"></ng-include>
</div>
