<div class="padding facilitation-guide">
  <p class="title">
  <i class="fa fa-star"></i> For Facilitators
  </p>

  <p>
  For detailed instructions and question guides,
  <a href="https://s3.amazonaws.com/prod_object_assets/assets/14919234945706/PDredesign_RA_Facilitation_Guide.pdf?AWSAccessKeyId=AKIAI7NUHQYARXR2GGCQ&Expires=1406652884&Signature=z4RkGQ4AJ9lpktLLbvCQnn%2F5%2BJE%3D#_=_" target='_blank' >
    download the Facilitation Guide PDF
  </a>
  </p>
  <ng-include src="'client/views/sidebar/facilitator_video.html'" ng-hide="role == member"></ng-include>
</div>

