<div class="padding facilitation-guide">
  <p class="title">
  <i class="fa fa-star"></i> For Facilitators
  </p>

  <p>
  For detailed instructions and question guides,
  <a href="<%= asset_path('PDRedesign RA Facilitation Guide.pdf') %>" target='_blank' >
    download the Facilitation Guide PDF
  </a>
  </p>
  <ng-include src="'client/views/sidebar/facilitator_video.html'" ng-hide="role == member"></ng-include>
</div>

