<div class='row secondary user-header'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>{{assessment.name}}</h1>
        <p class='byline'>organized by: 
          <a href=""> {{user.full_name}}</a> 
          on {{user.created_at  | amDateFormat:'MMMM Do, YYYY'}}
        </p>
        <h2 class='instructions-header'>Instructions</h2>

        <div class='col-md-12'>
          <p class='instructions-content'>
            The Readiness Assessment Tool consists of 28 questions across the 8 categories from the PD System Map.
            Please answer each question carefully. You may add your notes or attach files as evidence while answering each question.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
