<div class='row-bg row-header'>

  <div class="container">
    <div class='row'>
      <div class="col-md-9">

        <p class="headline">{{assessment.name}}</p>
        <p class='byline'>organized by: <a href=""> {{user.full_name}}</a> on {{user.created_at  | amDateFormat:'MMMM Do, YYYY'}}</p>

        <p class='instructions-header'>Instructions</p>
        <p class='instructions-content'>
          The Readiness Assessment Tool consists of 28 questions across the 8 categories from the PD System Map.
          Please answer each question carefully. You may add your notes or attach files as evidence while answering each question.
        </p> 
          
      </div>
    </div>
  </div>

</div>
