<div id="choose-role">
  <div class="modal-content">
    <div class="modal-header">
      <button ng-click="close()" type="button" class="close">&times;</button>
      <h3 class="modal-title" id="createConsensusLabel">Get Started</h3>
    </div>
    <div class="modal-body">
      <h3>What is your role?</h3>
        <p><a  ng-click="close()" href="#/administrators" class="btn btn-primary btn-lg">Administrator</a></p>
        <p><a ng-click="close()" href="#/educators" class="btn btn-primary btn-lg">Educator</a></p>
        <p><a ng-click="close()" href="#/networks"  class="btn btn-primary btn-lg">Partner</a></p>
    </div>
  </div>
</div>
