<form name="formInviteParticipant" novalidate>

  <div class="modal-header">
    <button ng-click="close()" type="button" class="close">&times;</button>
    <h3 class="modal-title">Invite New Participant</h3>
  </div>

  <div class="modal-body">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class='row'>
      <div class='col-sm-4'>
        <div class="form-group">
          <input placeholder="First Name" type="text" class="form-control" ng-model="inviteUser.first_name" required>
        </div>
      </div>

      <div class='col-sm-8'>
        <div class="form-group">
          <input placeholder="Last Name" type="text" class="form-control" ng-model="inviteUser.last_name" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input placeholder="Email Address" type="email" name="input" ng-model="inviteUser.email" class="form-control" required>
    </div>

    <div class="form-group">
      <input placeholder="Team Role (e.g. Finance, HR)" class="form-control" type="text" ng-model="inviteUser.team_role">
    </div>
  </div>

  <div class='modal-footer'>
    <div class="btn btn-primary pull-right"
      ng-disabled="formInviteParticipant.$invalid"
      ng-click="sendInvite(inviteUser)"
      data-dismiss="modal">
        Add to Assessment
    </div>
  </div>

</form>